# Opus gateway stream settings
STREAM_USER=your_stream_username
STREAM_PASS=your_stream_password
STREAM_IP=your_stream_ip_address
STREAM_PORT=your_stream_port

# MQTT settings
MQTT_BROKER=mqtt://your_mqtt_broker_address[:portnumber] # for example: mqtt://192.168.1.123:1883
MQTT_TOPIC=opus2mqtt/telegrams 													 # choose your_mqtt_topic here
MQTT_USER=your_mqtt_username														 # leave empty if no auth
MQTT_PASS=your_mqtt_password														 # leave empty if no auth

